html,
body,
header,
.view {
  height: 100%;
  scroll-behavior: smooth;
  scroll-speed: ;
}
.fixed {
  position: fixed;
  top: 0;
  margin: 0;
  padding: 0;
}
#nav {
  position: fixed;
  position: static;

}
#nav a {
  color: black;

}
#nav a:hover {
  color: lightgrey;
  text-decoration: none;
}

.book-me {
  margin-left: 100px;
  background-color: lightgreen;
  border: 3px solid green;
}
.book-me:hover {
  margin-left: 100px;
  background-color: lightgreen;
  border: 3px solid green;
}
.input-group .input-field {
  border: none;
  border-bottom: 1px solid black;
}

.carousel-inner > .item {
    position: relative;
    display: none;
    -webkit-transition: 0.1s ease-in-out left;
    -moz-transition: 0.1s ease-in-out left;
    -o-transition: 0.1s ease-in-out left;
    transition: 0.1s ease-in-out left;
}

button {
  background-color: rgba(0, 0, 0, 0.000000001);
  border: none;
  margin: 0 -15px;
}
button:hover {
  background-color: rgba(200, 200, 200, .5);
  font-size:38px;
  color: black;
  text-decoration: none;
  border-radius: 20px;
}
/* .icons {
  margin-top: 30px;
} */
.icons:hover {
  font-size: 30px;
  color: grey;
  border-radius: 100%;
  text-decoration: none;

}

#intro {
  background-image: url('https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80');
  background-size: cover;
  -webkit-background-size: cover;
  filter: brightness(100%);
}

.mask {
  padding-top: 100px;
}

/* .navbar {
  background-color: rgba(0, 0, 0, 0.5);
   background-size: cover;
} */

.nav-logo {
  width: 50px;
  height: 50px;
}
.nav-logo:hover {
  cursor: pointer;
  width: 50px;
  height: 50px;
  background-color: lightgrey;
}

h1 {
  color: white;
}
p {
  color: black;
}
.fas {
  font-size: 15px;
}

a {
  color: white;
  font-size: 20px;
}

p {
  width: 100%;
}

.paragraphs {
  color: black;
}

/* form {
  border: 1px solid black;
  width: 700px;
}

iframe{
  width: 450px;
  height: 360px;
  margin-top: 20px;
  margin-left: -30px;
} */

.footer-logo {
  background-color: black;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}
footer{
  background-color: rgba(0, 0, 0, 0.05);
}

.fa{
  background: lightgrey;
  font-size: 20px;
  padding: 5px 20px;
}

.icon {
  margin: 0 20px;
  color: black;
}

.col-sm-12 h4 {
  text-align: center;
}
